{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% load crispy_forms_tags %}

{% block title %}Expenditure - Form{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-section">
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Expenditure</legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Save</button>
              {% if object %}
                <a class="btn btn-info mt-1 mb-1" role="button"
                   href="{% url 'budget:expenditure_detail_view' object.id %}">Cancel</a>
                <a class="btn btn-danger mt-1 mb-1" role="button"
                   href="{% url 'budget:expenditure_delete_view' object.id %}">Delete</a>
              {% else %}
                <a class="btn btn-info mt-1 mb-1" role="button"
                   href="{% url 'budget:expenditure_list_view' %}">Cancel</a>
              {% endif %}
            </div>
          </form>
        </div>
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
  </div>  <!-- end containter -->

{% endblock content %}
